In [14]:
# def lift_start(floor_to_go):
#     print("....lift is coming")
    
#     base = 0
#     no_of_lift = 4
#     rope_length = 22*10
    
#     if

In [17]:
# lift_start(1)

In [1]:
from final import lift_assign

In [12]:
l = lift_assign(21,1)

In [13]:
l.validation()

True

In [14]:
l.get_lift()

your lift is lift no - b
lift is coming...
lift is going down...
lift is at 22
lift is at 22 floor

In [3]:
l.assign_lift()

d

   a  b   c  d
7  1  0  17  0

In [3]:
l.assign_lift()

d

   a  b   c  d
7  1  0  17  0

In [4]:
a = 'abab'

In [7]:
a = '7'

In [8]:
ll = [str(num) for num in range(22)]

In [9]:
if a in ll:
    print('l')

l