In [6]:
def lift_start(floor_to_go):
    print("....lift is coming")
    
    base = 0
    no_of_lift = 4
    rope_length = 22*10
    
    if

In [7]:
lift_start(1)

....lift is coming

In [1]:
from final import lift_assign

In [5]:
l = lift_assign(22,10)

In [6]:
l.get_direction()

'down'

In [7]:
l.get_lift()

your lift is lift no - d
lift is coming...
lift is going down...
lift is at 20
lift is at 20 floor
lift is at 21 floor
lift has arrived at your destination

In [3]:
l.assign_lift()

d

   a  b   c  d
7  1  0  17  0

In [3]:
l.assign_lift()

d

   a  b   c  d
7  1  0  17  0